<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css'/>
    <link rel='stylesheet' href='/assets/font-awesome/css/font-awesome.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<!-- 顶部登录条 -->
<%- include common/top-login.ejs %>

<!-- 头部搜索区域 -->
<div id="header">
    <div class="w">
        <!-- logo -->
        <div id="logo">
            <div class="logo-tit">
                <a class="logo-bg" href="javascript:void 0;"></a>
            </div>
        </div>
        <!-- 搜索 -->
        <div id="search">
            <div class="search-m">
                <ul id="shelper" style="display: none">
                    <% for (var i = 0; i < 10; i++) { %>
                    <li>
                        <div class="search-item">ssd<strong>固态硬盘</strong></div>
                        <div class="search-count">约7489个商品</div>
                    </li>
                    <% } %>
                </ul>
                <div class="form">
                    <input id="key" type="text" class="text">
                    <button type="button" class="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <!-- 购物车 -->
        <div id="shopCar" class="dropdown">
            <div class="cw-icon">
                <i class="fa fa-shopping-cart shop-icon"></i>
                <div class="shop-count">0</div>
                <a href="javascript:void 0;">我的购物车</a>
            </div>
            <div class="dropdown-layer">
                <div class="prompt">
                    <div class="nogoods"><b></b>购物车中还没有商品，赶紧选购吧！</div>
                </div>
            </div>
        </div>
        <!-- hotword -->
        <div id="hotword">
            <a class="style-red" href="javascript:void 0;">阿克苏苹果</a>
            <a href="javascript:void 0;">阿克苏苹果</a>
            <a href="javascript:void 0;">阿克苏苹果</a>
            <a href="javascript:void 0;">阿克苏苹果</a>
            <a href="javascript:void 0;">阿克苏苹果</a>
        </div>
    </div>
</div>
</body>
</html>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/top-login.js"></script>
<script src="/javascripts/top-search.js"></script>
