<!DOCTYPE html>
<html class="cssnimations">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css'/>
    <link rel='stylesheet' href='/assets/font-awesome/css/font-awesome.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<!-- 顶部登录条 -->
<%- include common/top-login.ejs %>

<!-- 头部搜索区域 -->
<%- include common/top-search.ejs %>

<!-- 分类导航  -->
<div class="fs" style="height: 2000px;">
    <div class="fs-inner">
        <div class="fs-left">
            <ul class="cate-menu">
                <li class="cate-menu-item" data-index="1">
                    <a href="javascript:void 0;">家用电器</a>
                </li>
                <li class="cate-menu-item" data-index="2">
                    <a href="javascript:void 0;">手机</a>
                    <span class="cate-menu-line">/</span>
                    <a href="javascript:void 0;">运营商</a>
                    <span class="cate-menu-line">/</span>
                    <a href="javascript:void 0;">数码</a>
                </li>
            </ul>
        </div>
        <!-- 轮播图 -->
        <div class="fs-center">
            <div class="slider-main">
                <ul></ul>
            </div>
            <div class="slider-extend"></div>
        </div>
        <div class="fs-right"></div>
    </div>
</div>
</body>
</html>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/top-login.js"></script>
<script src="/javascripts/top-search.js"></script>
