body {
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f6;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
  color: #666; }

.w {
  margin: auto;
  width: 1190px; }

.fl {
  float: left; }

.fr {
  float: right; }

.hover {
  z-index: 22; }

a:hover {
  color: #c81623; }

.style-red {
  color: #f10215; }

.m-b {
  margin-bottom: 30px; }

.clearfix:after {
  content: '';
  height: 0;
  display: block;
  clear: both; }

/*dropdown*/
.dropdown {
  position: relative;
  z-index: 21; }

.dropdown-layer {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1); }

.dropdown:hover .dropdown-layer, .hover .dropdown-layer {
  display: block; }

/*dropdown handle*/
.cw-icon {
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  border: 1px solid #e3e4e5; }

.dropdown:hover .cw-icon, .hover .cw-icon {
  padding-bottom: 2px;
  border-color: #ccc;
  border-bottom: none;
  background-color: #fff; }

/*css animations*/
.cssnimations .search-fix {
  webkit-animation: searchTop .5s ease-in-out;
  animation: searchTop .5s ease-in-out; }
@keyframes searchTop {
  0% {
    top: -50px; }
  to {
    top: 0; } }
.cssnimations .sk-item-img {
  transition: transform .4s ease,-webkit-transform .4s ease;
  transform: translateY(0); }
.cssnimations .sk-item-lk:hover .sk-item-img {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px); }
.cssnimations .find-item-img {
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  transform: translateX(0); }
.cssnimations .find-item-lk:hover .find-item-img {
  transform: translateX(-5px); }

/*top-login*/
#shotcut {
  border-bottom: 1px solid #ddd;
  background-color: #e3e4e5; }
  #shotcut li {
    float: left; }
  #shotcut a {
    color: #999; }
  #shotcut a:hover {
    color: #c81623; }
  #shotcut .w {
    height: 30px;
    line-height: 30px;
    color: #999;
    position: relative; }
  #shotcut .dt {
    padding-left: 7px;
    padding-right: 7px;
    height: 28px;
    line-height: 28px; }
  #shotcut .dd {
    line-height: 24px; }
  #shotcut .dropdown {
    position: relative; }
  #shotcut .dropdown-layer {
    top: 30px; }
  #shotcut #citySelect {
    margin-left: 200px; }
    #shotcut #citySelect .dd {
      left: 0;
      width: 300px;
      padding: 10px; }
    #shotcut #citySelect .item {
      float: left;
      width: 60px;
      padding: 2px 0; }
      #shotcut #citySelect .item a {
        float: left;
        padding: 0 8px; }
      #shotcut #citySelect .item a.selected {
        background-color: #f10215;
        color: #fff; }
  #shotcut #loginIn {
    margin-right: 8px; }
  #shotcut li.spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc; }
  #shotcut .style-red {
    color: #f10215; }
  #shotcut #myJd .t-list1, #shotcut #myJd .t-list2 {
    padding: 10px 0 10px 15px;
    overflow: hidden; }
    #shotcut #myJd .t-list1 .fore1, #shotcut #myJd .t-list1 .fore2, #shotcut #myJd .t-list2 .fore1, #shotcut #myJd .t-list2 .fore2 {
      float: left;
      width: 126px; }
  #shotcut #myJd .t-list2 {
    border-top: 1px solid #f1f1f1; }
  #shotcut #myJd .dropdown-layer {
    left: 0;
    width: 280px; }
  #shotcut #customServ .dd {
    right: 0;
    width: 170px;
    padding: 10px 0; }
  #shotcut #customServ .item-client, #shotcut #customServ .item-business {
    padding-left: 15px;
    font-weight: 700;
    color: #666; }
  #shotcut #customServ .item {
    display: inline-block;
    width: 68px;
    padding-left: 15px; }
  #shotcut #customServ .item-business {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #eee; }
  #shotcut #websiteNav .dd {
    right: -84px;
    width: 1200px;
    padding: 15px 0; }
  #shotcut #websiteNav dl {
    float: left;
    width: 255px;
    padding-left: 20px;
    border-left: 1px solid #eee; }
  #shotcut #websiteNav dl.fore1 {
    border-left: none;
    width: 340px; }
  #shotcut #websiteNav dt {
    margin-bottom: 5px;
    font-weight: 700;
    color: #666; }
  #shotcut #websiteNav dd {
    overflow: hidden; }
  #shotcut #websiteNav .item {
    overflow: hidden;
    float: left;
    width: 85px;
    white-space: nowrap; }
  #shotcut .mobile {
    position: relative; }
  #shotcut .mobile:hover .mobile-pop {
    display: block; }
  #shotcut .mobile-static {
    position: absolute;
    top: 30px;
    left: 3px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf; }
    #shotcut .mobile-static .mobile-static-qrcode {
      margin: 4px auto;
      width: 60px;
      height: 60px;
      background: #f6f6f6 url("../images/top_login/mobile_qrcode.jpg") no-repeat 50%; }
  #shotcut .mobile-pop:before,
  #shotcut .mobile-static:before {
    content: '';
    position: absolute;
    display: block;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6; }
  #shotcut .mobile-pop:before {
    border-color: #e4e4e4 #e4e4e4 #fff;
    left: 165px; }
  #shotcut .mobile-pop {
    display: none;
    position: absolute;
    left: auto;
    right: 0;
    top: 30px;
    width: 190px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    border-bottom: 3px solid #60575a;
    z-index: 22; }
    #shotcut .mobile-pop .mobile-pop-item {
      position: relative;
      z-index: 5;
      padding: 15px 0;
      border-bottom: 1px solid #E7E7E7; }
      #shotcut .mobile-pop .mobile-pop-item .mobile-pop-qrcode {
        position: absolute;
        left: 5px;
        top: 14px;
        width: 74px;
        height: 74px;
        border: 1px solid #CCC;
        background-color: #F7F7F7; }
        #shotcut .mobile-pop .mobile-pop-item .mobile-pop-qrcode img {
          width: 70px;
          height: 70px;
          margin: 2px 0 0 2px; }
      #shotcut .mobile-pop .mobile-pop-item .mobile-pop-info {
        margin: 0 10px 0 86px;
        min-height: 70px; }
        #shotcut .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-tit {
          height: 17px;
          position: relative;
          top: -9px; }
        #shotcut .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-tit a {
          color: #666 !important;
          line-height: 17px; }
        #shotcut .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-value {
          margin: 3px 0;
          line-height: 14px;
          color: #F10214; }
        #shotcut .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-device {
          overflow: hidden;
          height: 25px; }
          #shotcut .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-device .bg-device {
            overflow: hidden;
            float: left;
            margin-right: 2px;
            width: 25px;
            height: 25px;
            background-image: url("../images/top_login/sprite_mobile@1x.png"); }
          #shotcut .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-device .ios {
            background-position: 0 0; }
          #shotcut .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-device .android {
            background-position: 0 -26px; }
          #shotcut .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-device .ipad {
            background-position: 0 -52px; }

/*search-area*/
#header {
  /*my shopCar*/ }
  #header .w {
    position: relative;
    z-index: 11;
    height: 140px; }
  #header #logo, #header .logo_tit {
    position: absolute; }
  #header #logo {
    z-index: 2;
    left: 0;
    top: -31px;
    width: 190px;
    height: 170px;
    box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff; }
    #header #logo .logo-bg {
      overflow: hidden;
      display: block;
      width: 190px;
      height: 170px;
      background: url("../images/top_search/logo.v2.png") no-repeat;
      text-indent: -999px; }
  #header #search .search-m {
    position: relative;
    z-index: 1;
    height: 60px; }
    #header #search .search-m .form {
      position: absolute;
      left: 320px;
      top: 25px;
      width: 550px;
      height: 35px; }
      #header #search .search-m .form .text, #header #search .search-m .form .button {
        position: absolute;
        top: 0;
        outline: none; }
      #header #search .search-m .form .text {
        left: 0;
        padding: 4px;
        width: 490px;
        height: 25px;
        border: 1px solid #f10215;
        line-height: 25px;
        font-size: 14px;
        color: #989898; }
      #header #search .search-m .form .button {
        right: 0;
        width: 50px;
        height: 35px;
        line-height: 35px;
        border: none;
        background-color: #f10215;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        cursor: pointer; }
    #header #search .search-m #shelper {
      overflow: hidden;
      position: absolute;
      z-index: 1;
      left: 320px;
      top: 59px;
      width: 498px;
      border: 1px solid #ccc;
      background-color: #fff;
      box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2); }
      #header #search .search-m #shelper li {
        overflow: hidden;
        padding: 1px 6px;
        line-height: 24px;
        cursor: pointer; }
      #header #search .search-m #shelper li:hover {
        background-color: #f5f5f5; }
      #header #search .search-m #shelper .search-item {
        float: left;
        width: 190px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      #header #search .search-m #shelper .search-count {
        overflow: hidden;
        text-align: right;
        color: #666; }
  #header .search-fix {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
    #header .search-fix .search-m {
      margin: auto;
      width: 1190px;
      height: 48px !important; }
      #header .search-fix .search-m .search-logo {
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
        width: 125px;
        height: 40px; }
        #header .search-fix .search-m .search-logo a {
          overflow: hidden;
          display: block;
          width: 125px;
          height: 40px;
          background: url("../images/top_search/logo_s.v2.png") no-repeat;
          text-indent: -999px; }
      #header .search-fix .search-m .form {
        top: 6px !important; }
  #header #shopCar {
    position: absolute;
    right: 99px;
    top: 25px; }
    #header #shopCar .cw-icon {
      width: 188px;
      height: 33px;
      background-color: #fff;
      text-align: center;
      line-height: 33px; }
      #header #shopCar .cw-icon .shop-count {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background-color: #c81623;
        color: #fff;
        text-align: center;
        line-height: 18px;
        position: absolute;
        right: 45px;
        top: 5px; }
      #header #shopCar .cw-icon .shop-icon {
        font-size: 18px;
        position: absolute;
        left: 37px;
        top: 7px;
        color: #c81623; }
      #header #shopCar .cw-icon a {
        color: #f10214; }
    #header #shopCar .dropdown-layer {
      top: 35px;
      right: 0;
      width: 308px; }
      #header #shopCar .dropdown-layer .prompt {
        padding: 10px 15px; }
        #header #shopCar .dropdown-layer .prompt .nogoods {
          padding-left: 30px;
          height: 49px;
          line-height: 49px;
          overflow: hidden;
          color: #999; }
          #header #shopCar .dropdown-layer .prompt .nogoods b {
            float: left;
            width: 56px;
            height: 49px;
            background-image: url("../images/top_search/no_item.png"); }
  #header #hotword {
    overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px; }
    #header #hotword a {
      float: left;
      margin-right: 10px;
      white-space: nowrap;
      color: #999; }
    #header #hotword .style-red {
      color: #f10215; }
  #header #navitems {
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px; }
    #header #navitems .spacer, #header #navitems ul, #header #navitems li {
      float: left; }
    #header #navitems .spacer {
      overflow: hidden;
      margin-top: 15px;
      margin-left: 20px;
      margin-right: -10px;
      width: 1px;
      height: 10px;
      background-color: #ccc; }
    #header #navitems li {
      margin-left: 30px; }
      #header #navitems li a {
        position: relative;
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 700;
        color: #555; }

/*nav & banner*/
.fs {
  position: relative;
  margin-bottom: 10px; }
  .fs .fs-inner {
    position: relative;
    width: 1190px;
    height: 480px;
    margin: 0 auto;
    background-color: #f6f6f6; }
    .fs .fs-inner .fs-left, .fs .fs-inner .fs-center {
      float: left;
      height: 100%; }
    .fs .fs-inner .fs-right {
      float: right;
      height: 100%; }
    .fs .fs-inner .fs-left {
      width: 190px;
      margin-right: 10px; }
      .fs .fs-inner .fs-left ul.cate-menu {
        overflow: hidden;
        padding: 15px 0;
        height: 450px;
        background-color: #6e6568;
        color: #fff; }
        .fs .fs-inner .fs-left ul.cate-menu .cate-menu-item {
          overflow: hidden;
          padding-left: 12px;
          height: 30px;
          line-height: 30px;
          font-size: 0; }
          .fs .fs-inner .fs-left ul.cate-menu .cate-menu-item a {
            font-size: 14px;
            color: #fff; }
          .fs .fs-inner .fs-left ul.cate-menu .cate-menu-item a:hover {
            color: #c81623; }
          .fs .fs-inner .fs-left ul.cate-menu .cate-menu-item .cate-menu-line {
            padding: 0 4px;
            font-size: 12px; }
        .fs .fs-inner .fs-left ul.cate-menu .cate_menu_item_on {
          background-color: #999395; }
      .fs .fs-inner .fs-left .cate-pop {
        position: absolute;
        left: 190px;
        top: 0;
        width: 998px;
        min-height: 478px;
        border: 1px solid #f7f7f7;
        background-color: #f7f7f7;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        z-index: 21; }
        .fs .fs-inner .fs-left .cate-pop .cate-part {
          padding: 20px 0 10px; }
          .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col1 {
            float: left;
            width: 800px; }
            .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col1 .cate-tit {
              overflow: hidden;
              padding-left: 20px;
              height: 24px; }
              .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col1 .cate-tit a {
                float: left;
                margin-right: 10px;
                padding: 0 10px;
                height: 24px;
                background-color: #6e6568;
                line-height: 24px;
                color: #fff; }
              .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col1 .cate-tit a:hover {
                background-color: #5c5251;
                color: #fff; }
            .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col1 .cate-detail {
              overflow: hidden;
              padding: 10px 0 0 20px; }
              .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col1 .cate-detail .cate-detail-item {
                position: relative;
                padding-left: 80px; }
                .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col1 .cate-detail .cate-detail-item .cate-detail-tit {
                  overflow: hidden;
                  position: absolute;
                  left: 0;
                  top: 9px;
                  width: 70px;
                  text-align: right;
                  font-weight: 700;
                  white-space: nowrap;
                  text-overflow: ellipsis; }
                .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col1 .cate-detail .cate-detail-item .cate-detail-con {
                  overflow: hidden;
                  padding: 6px 0;
                  border-top: 1px solid #eee; }
                  .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col1 .cate-detail .cate-detail-item .cate-detail-con .cate-detail-con-lk {
                    float: left;
                    margin: 4px 0;
                    padding: 0 10px;
                    height: 16px;
                    border-left: 1px solid #e0e0e0;
                    line-height: 16px;
                    white-space: nowrap; }
              .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col1 .cate-detail .cate-detail-item:first-child .cate-detail-con {
                border-top: none; }
          .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col2 {
            float: left;
            width: 198px; }
            .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col2 .cate-brand {
              margin: auto;
              width: 168px;
              font-size: 0; }
              .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col2 .cate-brand .cate-brand-lk {
                overflow: hidden;
                display: inline-block;
                width: 83px;
                height: 35px;
                margin: 0 0 1px 1px;
                background-color: #e7e7e7; }
            .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col2 .cate-promotion {
              margin: 10px auto 0;
              width: 168px; }
              .fs .fs-inner .fs-left .cate-pop .cate-part .cate-part-col2 .cate-promotion .cate-promotion-lk {
                display: block;
                margin-bottom: 1px;
                height: 134px;
                background-color: #e7e7e7; }
    .fs .fs-inner .fs-center {
      width: 790px; }
      .fs .fs-inner .fs-center .slider-main {
        position: relative;
        margin-bottom: 10px;
        height: 340px;
        text-align: center; }
        .fs .fs-inner .fs-center .slider-main .inner {
          position: absolute;
          width: 100%;
          height: 100%;
          background: url("/images/slider/loading.gif") no-repeat center;
          background-size: 40px 40px;
          cursor: pointer; }
          .fs .fs-inner .fs-center .slider-main .inner img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: none;
            vertical-align: top;
            opacity: 0;
            z-index: 0; }
        .fs .fs-inner .fs-center .slider-main .focusList {
          display: inline-block;
          z-index: 20;
          margin-top: 296px;
          position: relative;
          padding: 2px 8px;
          border-radius: 12px;
          background-color: rgba(255, 255, 255, 0.4); }
          .fs .fs-inner .fs-center .slider-main .focusList li {
            display: inline-block;
            margin: 0 5px;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background-color: #fff; }
          .fs .fs-inner .fs-center .slider-main .focusList li.cur {
            background-color: #f10215; }
        .fs .fs-inner .fs-center .slider-main .slide-left, .fs .fs-inner .fs-center .slider-main .slide-right {
          display: none;
          position: absolute;
          z-index: 1;
          top: 50%;
          margin-top: -30px;
          width: 30px;
          height: 60px;
          background-color: #333;
          background-color: rgba(0, 0, 0, 0.1);
          line-height: 60px;
          text-align: center;
          color: #fff; }
        .fs .fs-inner .fs-center .slider-main .slide-left:hover, .fs .fs-inner .fs-center .slider-main .slide-right:hover {
          background-color: rgba(0, 0, 0, 0.5);
          color: #fff; }
        .fs .fs-inner .fs-center .slider-main .slide-left {
          left: 0; }
        .fs .fs-inner .fs-center .slider-main .slide-right {
          right: 0; }
      .fs .fs-inner .fs-center .slider-main:hover .slide-left,
      .fs .fs-inner .fs-center .slider-main:hover .slide-right {
        display: block; }
      .fs .fs-inner .fs-center .slider-extend {
        /*margin-left: -10px;*/
        height: 130px;
        background: url("../images/slider/slider_extend.png") no-repeat;
        cursor: pointer; }
    .fs .fs-inner .fs-right {
      margin-left: 10px;
      width: 190px;
      background: #fff url("../images/slider/right_card.png") no-repeat; }

/*sec-kill*/
#seckill {
  height: 305px; }
  #seckill .sk-inner {
    margin: 0 auto;
    width: 1190px;
    overflow: hidden; }
    #seckill .sk-inner .box-hd {
      background: url("/images/goods_items/seckill_hd.png") no-repeat 0 0;
      position: relative;
      padding: 0 20px 0 30px;
      height: 55px;
      line-height: 55px;
      color: #fff; }
      #seckill .sk-inner .box-hd .box-hd-col1 {
        float: left; }
        #seckill .sk-inner .box-hd .box-hd-col1 .box_hd_dec {
          position: absolute;
          left: -4px;
          top: -4px;
          background-image: url("/images/goods_items/sprite_index@1x.png");
          background-position: -190px -48px;
          background-size: 218px 188px;
          background-repeat: no-repeat;
          width: 28px;
          height: 28px; }
        #seckill .sk-inner .box-hd .box-hd-col1 .box_hd_icon {
          margin-top: 8px;
          margin-right: 8px;
          background-image: url("/images/goods_items/sprite_index@1x.png");
          background-position: 0 -40px;
          -moz-background-size: 218px 188px;
          background-size: 218px 188px;
          background-repeat: no-repeat;
          width: 34px;
          height: 40px; }
        #seckill .sk-inner .box-hd .box-hd-col1 .box_tit {
          font-family: 'Microsoft YaHei UI Light';
          font-size: 26px;
          font-weight: 400;
          line-height: 40px;
          height: 40px;
          padding-top: 9px;
          float: left; }
        #seckill .sk-inner .box-hd .box-hd-col1 .box_sunmit {
          position: relative;
          float: left;
          margin-top: 19px;
          margin-left: 12px;
          padding-right: 20px;
          height: 24px;
          line-height: 24px;
          font-size: 14px;
          color: #fff; }
          #seckill .sk-inner .box-hd .box-hd-col1 .box_sunmit .submit_arrow {
            position: absolute;
            right: 0;
            top: 4px;
            background-image: url("/images/goods_items/sprite_index@1x.png");
            background-position: -154px -40px;
            background-size: 218px 188px;
            background-repeat: no-repeat;
            width: 15px;
            height: 16px; }
      #seckill .sk-inner .box-hd .box-hd-col2 {
        float: right; }
        #seckill .sk-inner .box-hd .box-hd-col2 .sk-cd {
          float: left; }
          #seckill .sk-inner .box-hd .box-hd-col2 .sk-cd .sk-cd-tip {
            float: left;
            line-height: 45px;
            padding-top: 10px;
            font-size: 14px; }
          #seckill .sk-inner .box-hd .box-hd-col2 .sk-cd .sk-cd-main {
            float: left;
            margin-left: 6px;
            margin-right: 8px; }
            #seckill .sk-inner .box-hd .box-hd-col2 .sk-cd .sk-cd-main .cd-item {
              float: left;
              width: 35px;
              height: 37px;
              background-color: #440106;
              color: #f90013;
              font-size: 24px;
              font-family: Arial;
              font-weight: 700;
              border-radius: 3px;
              text-align: center;
              line-height: 37px;
              margin-top: 10px; }
            #seckill .sk-inner .box-hd .box-hd-col2 .sk-cd .sk-cd-main .cd-split {
              float: left;
              margin: 22px 4px 0;
              width: 4px;
              height: 12px;
              font-size: 0;
              line-height: 0; }
              #seckill .sk-inner .box-hd .box-hd-col2 .sk-cd .sk-cd-main .cd-split .dot {
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background-color: #440106; }
              #seckill .sk-inner .box-hd .box-hd-col2 .sk-cd .sk-cd-main .cd-split .top {
                margin-bottom: 4px; }
              #seckill .sk-inner .box-hd .box-hd-col2 .sk-cd .sk-cd-main .cd-split .bottom {
                top: 30px; }
    #seckill .sk-inner .box-bd {
      padding: 12px 0 13px;
      height: 225px;
      overflow: hidden;
      background-color: #fff; }
      #seckill .sk-inner .box-bd .sk-list-wrapper {
        float: left;
        width: 1000px;
        overflow: hidden;
        position: relative; }
        #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list {
          color: #999;
          width: 6000px; }
          #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item {
            float: left;
            width: 170px;
            height: 225px;
            padding: 0 14px 0 15px;
            border-right: 1px solid #e7e7e7; }
            #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-pic {
              position: relative;
              text-align: center; }
              #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-pic a {
                display: block;
                outline: 0; }
                #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-pic a .sk-item-img {
                  width: 130px;
                  height: 130px;
                  margin: 17px 0; }
                #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-pic a p {
                  color: #999;
                  display: block;
                  max-width: 100%;
                  overflow: hidden;
                  font-size: 12px;
                  text-align: left;
                  height: 32px;
                  line-height: 16px;
                  word-wrap: break-word;
                  word-break: break-all; }
              #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-pic a:hover p {
                color: #c81623; }
              #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-pic .item-shadow {
                position: absolute;
                left: 0;
                top: 130px;
                text-align: center;
                background-image: url("/images/goods_items/sprite_index@1x.png");
                background-position: 0 0;
                -moz-background-size: 218px 188px;
                background-size: 218px 188px;
                background-repeat: no-repeat;
                width: 170px;
                height: 20px; }
            #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-price {
              padding: 3px 0;
              height: 25px; }
              #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-price .price-new {
                font-size: 18px;
                font-weight: 700;
                margin-right: 8px;
                color: #F10214; }
                #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-price .price-new i {
                  font-size: 12px;
                  font-weight: 300;
                  margin-right: 3px;
                  font-family: arial; }
              #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-price .price-old {
                color: #999;
                font-size: 12px; }
                #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-price .price-old i {
                  margin-right: 3px;
                  font-family: arial;
                  font-weight: 400;
                  font-size: 12px; }
                #seckill .sk-inner .box-bd .sk-list-wrapper .sk-list .sk-item .item-price .price-old del {
                  font-weight: 400; }
        #seckill .sk-inner .box-bd .sk-list-wrapper .sk-controls {
          display: none; }
          #seckill .sk-inner .box-bd .sk-list-wrapper .sk-controls a {
            position: absolute;
            display: block;
            z-index: 1;
            top: 50%;
            margin-top: -25px;
            width: 20px;
            height: 50px;
            background: rgba(0, 0, 0, 0.1);
            line-height: 50px;
            text-align: center; }
          #seckill .sk-inner .box-bd .sk-list-wrapper .sk-controls .sk-controls-left {
            left: 7px; }
          #seckill .sk-inner .box-bd .sk-list-wrapper .sk-controls .sk-controls-right {
            right: 7px; }
        #seckill .sk-inner .box-bd .sk-list-wrapper .split {
          position: absolute;
          right: 0;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: #fff; }
      #seckill .sk-inner .box-bd .sk-list-wrapper:hover .sk-controls {
        display: block; }
      #seckill .sk-inner .box-bd .sk-special {
        margin: 0 10px 0 0;
        float: right; }
        #seckill .sk-inner .box-bd .sk-special img {
          display: block;
          width: 180px;
          height: 225px;
          border: none;
          vertical-align: top; }

#findGoods {
  height: 444px; }
  #findGoods .find-inner {
    margin: 0 auto;
    width: 1190px; }
    #findGoods .find-inner .find-col1,
    #findGoods .find-inner .find-col2,
    #findGoods .find-inner .find-col3 {
      width: 390px;
      height: 444px;
      float: left;
      overflow: hidden;
      margin-right: 10px; }
    #findGoods .find-inner .find-col3 {
      margin-right: 0; }
    #findGoods .find-inner .box-hd {
      position: relative;
      padding: 0 20px 0 30px;
      height: 55px;
      line-height: 55px;
      color: #fff; }
      #findGoods .find-inner .box-hd .arrow {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 19px solid #f6f6f6;
        border-right: 19px solid transparent; }
      #findGoods .find-inner .box-hd .dec {
        position: absolute;
        left: -4px;
        top: -4px;
        width: 28px;
        height: 28px; }
      #findGoods .find-inner .box-hd .tit {
        font-family: 'Microsoft YaHei UI Light';
        font-size: 26px;
        font-weight: 400;
        line-height: 40px;
        height: 40px;
        padding-top: 9px;
        float: left; }
      #findGoods .find-inner .box-hd .submit {
        position: relative;
        float: right;
        margin-top: 19px;
        padding-right: 20px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        color: #fff; }
        #findGoods .find-inner .box-hd .submit .arrow-right {
          background-image: url("/images/goods_items/sprite_index@1x.png");
          background-position: -154px -40px;
          background-size: 218px 188px;
          background-repeat: no-repeat;
          width: 15px;
          height: 16px;
          position: absolute;
          right: 0;
          top: 4px; }
    #findGoods .find-inner .box-bd {
      background-color: #fff; }
    #findGoods .find-inner .find-col1 .box-hd {
      background: #4998a1;
      background-image: -webkit-linear-gradient(left, #4998a1, #2e828b);
      background-image: -moz-linear-gradient(left, #4998a1, #2e828b);
      background-image: linear-gradient(90deg, #4998a1, #2e828b); }
      #findGoods .find-inner .find-col1 .box-hd .dec {
        background-image: url("/images/goods_items/sprite_index@1x.png");
        background-position: -190px -96px;
        background-size: 218px 188px;
        background-repeat: no-repeat; }
    #findGoods .find-inner .find-col1 .box-bd {
      padding: 10px;
      height: 369px; }
      #findGoods .find-inner .find-col1 .box-bd .find-list {
        width: 370px;
        height: 363px;
        overflow: hidden; }
        #findGoods .find-inner .find-col1 .box-bd .find-list .find-item {
          float: left;
          border-right: 1px solid #e7e7e7;
          border-bottom: 1px solid #e7e7e7; }
          #findGoods .find-inner .find-col1 .box-bd .find-list .find-item .find-item-lk {
            display: block;
            width: 185px;
            height: 120px;
            position: relative; }
          #findGoods .find-inner .find-col1 .box-bd .find-list .find-item p {
            font-size: 14px;
            color: #4998a1;
            position: absolute;
            top: 15px;
            left: 20px;
            width: 80px;
            line-height: 20px;
            z-index: 1;
            word-wrap: break-word; }
          #findGoods .find-inner .find-col1 .box-bd .find-list .find-item .find-item-img {
            position: absolute;
            bottom: 5px;
            right: 10px;
            width: 80px;
            height: 80px;
            opacity: 0; }
        #findGoods .find-inner .find-col1 .box-bd .find-list .find-item:nth-child(even) {
          border-right: 0;
          margin-right: -1px; }
    #findGoods .find-inner .find-col2 .box-hd {
      background: #7d2e5c;
      background-image: -webkit-linear-gradient(left, #7d2e5c, #6f184a);
      background-image: -moz-linear-gradient(left, #7d2e5c, #6f184a);
      background-image: linear-gradient(90deg, #7d2e5c, #6f184a); }
      #findGoods .find-inner .find-col2 .box-hd .dec {
        background-image: url("/images/goods_items/sprite_index@1x.png");
        background-position: 0 -160px;
        background-size: 218px 188px;
        background-repeat: no-repeat; }
    #findGoods .find-inner .find-col2 .box-bd {
      padding: 10px;
      height: 369px; }
      #findGoods .find-inner .find-col2 .box-bd .brand-top {
        margin-bottom: 12px;
        height: 227px;
        overflow: hidden; }
        #findGoods .find-inner .find-col2 .box-bd .brand-top .brand-top-wrapper {
          float: left;
          width: 185px; }
          #findGoods .find-inner .find-col2 .box-bd .brand-top .brand-top-wrapper .brand-top-lk {
            display: block;
            padding: 15px 22px 10px 23px;
            border-right: 1px solid #e7e7e7; }
            #findGoods .find-inner .find-col2 .box-bd .brand-top .brand-top-wrapper .brand-top-lk .name {
              font-size: 16px;
              color: #8b3a6d;
              margin-bottom: 5px;
              line-height: 18px;
              height: 18px;
              overflow: hidden; }
            #findGoods .find-inner .find-col2 .box-bd .brand-top .brand-top-wrapper .brand-top-lk .desc {
              color: #666;
              height: 36px;
              margin-bottom: 8px;
              overflow: hidden; }
            #findGoods .find-inner .find-col2 .box-bd .brand-top .brand-top-wrapper .brand-top-lk .split {
              width: 19px;
              height: 3px;
              background: #8b3a6d;
              margin-bottom: 12px; }
            #findGoods .find-inner .find-col2 .box-bd .brand-top .brand-top-wrapper .brand-top-lk .brand-top-img {
              display: block;
              width: 140px;
              height: 120px;
              transition: transform .4s ease-out; }
          #findGoods .find-inner .find-col2 .box-bd .brand-top .brand-top-wrapper .brand-top-lk:nth-child(even) {
            border-right: none; }
    #findGoods .find-inner .find-col3 .box-hd {
      background: #e77005;
      background-image: -webkit-linear-gradient(left, #e77005, #e45d04);
      background-image: -moz-linear-gradient(left, #e77005, #e45d04);
      background-image: linear-gradient(90deg, #e77005, #e45d04); }
      #findGoods .find-inner .find-col3 .box-hd .dec {
        background-image: url("/images/goods_items/sprite_index@1x.png");
        background-position: -190px 0;
        background-size: 218px 188px;
        background-repeat: no-repeat; }
    #findGoods .find-inner .find-col3 .box-bd {
      height: 389px; }

/*# sourceMappingURL=style.css.map */
