body {
    -webkit-font-smoothing: antialiased;
    background-color: #f6f6f6;
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    color: #666;
}

.w {
    margin: auto;
    width: 1190px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hover {
    z-index: 22;
}

a:hover {
    color: #c81623;
}

.style-red {
    color: #f10215;
}

.m-b {
    margin-bottom: 30px;
}

.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}

/*dropdown*/
.dropdown {
    position: relative;
    z-index: 21;
}

.dropdown-layer {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .1)
}

.dropdown:hover .dropdown-layer, .hover .dropdown-layer {
    display: block;
}

/*dropdown handle*/
.cw-icon {
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}

.dropdown:hover .cw-icon, .hover .cw-icon {
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
}

/*css animations*/
.cssnimations {
    .search-fix {
        webkit-animation: searchTop .5s ease-in-out;
        animation: searchTop .5s ease-in-out;
    }
    @keyframes searchTop {
        0% {
            top: -50px
        }
        to {
            top: 0
        }
    }
    .sk-item-img {
        transition: transform .4s ease,-webkit-transform .4s ease;
        transform: translateY(0);
    }
    .sk-item-lk:hover .sk-item-img {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }
}

/*top-login*/
#shotcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
    li {
        float: left;
    }
    a {
        color: #999;
    }
    a:hover {
        color: #c81623;
    }
    .w {
        height: 30px;
        line-height: 30px;
        color: #999;
        position: relative;
    }
    .dt {
        padding-left: 7px;
        padding-right: 7px;
        height: 28px;
        line-height: 28px;
    }
    .dd {
        line-height: 24px;
    }

    .dropdown {
        position: relative;
    }
    .dropdown-layer {
        top: 30px;
    }

    #citySelect {
        margin-left: 200px;
        .dd {
            left: 0;
            width: 300px;
            padding: 10px;
        }
        .item {
            float: left;
            width: 60px;
            padding: 2px 0;
            a {
                float: left;
                padding: 0 8px;
            }
            a.selected {
                background-color: #f10215;
                color: #fff;
            }
        }
    }
    #loginIn {
        margin-right: 8px;
    }
    li.spacer {
        overflow: hidden;
        margin: 11px 5px 0;
        width: 1px;
        height: 10px;
        background-color: #ccc;
    }
    .style-red {
        color: #f10215;
    }
    #myJd {
        .t-list1, .t-list2 {
            padding: 10px 0 10px 15px;
            overflow: hidden;
            .fore1, .fore2 {
                float: left;
                width: 126px;
            }
        }
        .t-list2 {
            border-top: 1px solid #f1f1f1;
        }
        .dropdown-layer {
            left: 0;
            width: 280px;
        }
    }
    #customServ {
        .dd {
            right: 0;
            width: 170px;
            padding: 10px 0;
        }
        .item-client, .item-business {
            padding-left: 15px;
            font-weight: 700;
            color: #666;
        }
        .item {
            display: inline-block;
            width: 68px;
            padding-left: 15px;
        }
        .item-business {
            margin-top: 5px;
            padding-top: 5px;
            border-top: 1px dotted #eee;
        }
    }
    #websiteNav {
        .dd {
            right: -84px;
            width: 1200px;
            padding: 15px 0;
        }
        dl {
            float: left;
            width: 255px;
            padding-left: 20px;
            border-left: 1px solid #eee;
        }
        dl.fore1 {
            border-left: none;
            width: 340px;
        }
        dt {
            margin-bottom: 5px;
            font-weight: 700;
            color: #666;
        }
        dd {
            overflow: hidden;
        }
        .item {
            overflow: hidden;
            float: left;
            width: 85px;
            white-space: nowrap;
        }
    }
    .mobile {
        position: relative;
    }
    .mobile:hover .mobile-pop {
        display: block;
    }
    .mobile-static {
        position: absolute;
        top: 30px;
        left: 3px;
        width: 66px;
        height: 66px;
        border: 1px solid #cfcfcf;
        .mobile-static-qrcode {
            margin: 4px auto;
            width: 60px;
            height: 60px;
            background: #f6f6f6 url("../images/top_login/mobile_qrcode.jpg") no-repeat 50%;
        }
    }
    .mobile-pop:before,
    .mobile-static:before {
        content: '';
        position: absolute;
        display: block;
        top: -9px;
        left: 50%;
        margin-left: -5px;
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        border-width: 5px;
        border-style: solid;
        border-color: #e4e4e4 #e4e4e4 #f6f6f6;
    }
    .mobile-pop:before {
        border-color: #e4e4e4 #e4e4e4 #fff;
        left: 165px;
    }
    .mobile-pop {
        display: none;
        position: absolute;
        left: auto;
        right: 0;
        top: 30px;
        width: 190px;
        border: 1px solid #cfcfcf;
        background-color: #fff;
        border-bottom: 3px solid #60575a;
        z-index: 22;
        .mobile-pop-item {
            position: relative;
            z-index: 5;
            padding: 15px 0;
            border-bottom: 1px solid #E7E7E7;
            .mobile-pop-qrcode {
                position: absolute;
                left: 5px;
                top: 14px;
                width: 74px;
                height: 74px;
                border: 1px solid #CCC;
                background-color: #F7F7F7;
                img {
                    width: 70px;
                    height: 70px;
                    margin: 2px 0 0 2px;
                }
            }
            .mobile-pop-info {
                margin: 0 10px 0 86px;
                min-height: 70px;
                .mobile-pop-tit {
                    height: 17px;
                    position: relative;
                    top: -9px;
                }
                .mobile-pop-tit a {
                    color: #666 !important;
                    line-height: 17px;
                }
                .mobile-pop-value {
                    margin: 3px 0;
                    line-height: 14px;
                    color: #F10214;
                }
                .mobile-pop-device {
                    overflow: hidden;
                    height: 25px;
                    .bg-device {
                        overflow: hidden;
                        float: left;
                        margin-right: 2px;
                        width: 25px;
                        height: 25px;
                        background-image: url("../images/top_login/sprite_mobile@1x.png");
                    }
                    .ios {
                        background-position: 0 0;
                    }
                    .android {
                        background-position: 0 -26px;
                    }
                    .ipad {
                        background-position: 0 -52px;
                    }
                }
            }
        }
    }
}

/*search-area*/
#header {
    .w {
        position: relative;
        z-index: 11;
        height: 140px;
    }
    #logo, .logo_tit {
        position: absolute;
    }
    #logo {
        z-index: 2;
        left: 0;
        top: -31px;
        width: 190px;
        height: 170px;
        box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
        background-color: #fff;
        .logo-bg {
            overflow: hidden;
            display: block;
            width: 190px;
            height: 170px;
            background: url('../images/top_search/logo.v2.png') no-repeat;
            text-indent: -999px;
        }
    }
    #search {
        .search-m {
            position: relative;
            z-index: 1;
            height: 60px;
            .form {
                position: absolute;
                left: 320px;
                top: 25px;
                width: 550px;
                height: 35px;
                .text, .button {
                    position: absolute;
                    top: 0;
                    outline: none;
                }
                .text {
                    left: 0;
                    padding: 4px;
                    width: 490px;
                    height: 25px;
                    border: 1px solid #f10215;
                    line-height: 25px;
                    font-size: 14px;
                    color: #989898;
                }
                .button {
                    right: 0;
                    width: 50px;
                    height: 35px;
                    line-height: 35px;
                    border: none;
                    background-color: #f10215;
                    font-size: 20px;
                    font-weight: 700;
                    color: #fff;
                    cursor: pointer;
                }
            }
            #shelper {
                overflow: hidden;
                position: absolute;
                z-index: 1;
                left: 320px;
                top: 59px;
                width: 498px;
                border: 1px solid #ccc;
                background-color: #fff;
                box-shadow: 1px 2px 1px rgba(0, 0, 0, .2);
                li {
                    overflow: hidden;
                    padding: 1px 6px;
                    line-height: 24px;
                    cursor: pointer;
                }
                li:hover {
                    background-color: #f5f5f5;
                }
                .search-item {
                    float: left;
                    width: 190px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .search-count {
                    overflow: hidden;
                    text-align: right;
                    color: #666;
                }
            }
        }
    }
    .search-fix {
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        border-bottom: 2px solid #f10214;
        background-color: #fff;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
        .search-m {
            margin: auto;
            width: 1190px;
            height: 48px !important;
            .search-logo {
                display: block;
                position: absolute;
                left: 0;
                top: 4px;
                width: 125px;
                height: 40px;
                a {
                    overflow: hidden;
                    display: block;
                    width: 125px;
                    height: 40px;
                    background: url('../images/top_search/logo_s.v2.png') no-repeat;
                    text-indent: -999px;
                }
            }
            .form {
                top: 6px !important;
            }
        }
    }
    /*my shopCar*/
    #shopCar {
        position: absolute;
        right: 99px;
        top: 25px;
        .cw-icon {
            width: 188px;
            height: 33px;
            background-color: #fff;
            text-align: center;
            line-height: 33px;
            .shop-count {
                width: 18px;
                height: 18px;
                border-radius: 9px;
                background-color: #c81623;
                color: #fff;
                text-align: center;
                line-height: 18px;
                position: absolute;
                right: 45px;
                top: 5px;
            }
            .shop-icon {
                font-size: 18px;
                position: absolute;
                left: 37px;
                top: 7px;
                color: #c81623;
            }
            a {
                color: #f10214;
            }
        }
        .dropdown-layer {
            top: 35px;
            right: 0;
            width: 308px;
            .prompt {
                padding: 10px 15px;
                .nogoods {
                    padding-left: 30px;
                    height: 49px;
                    line-height: 49px;
                    overflow: hidden;
                    color: #999;
                    b {
                        float: left;
                        width: 56px;
                        height: 49px;
                        background-image: url("../images/top_search/no_item.png")
                    }
                }
            }
        }
    }
    #hotword {
        overflow: hidden;
        position: absolute;
        left: 320px;
        top: 65px;
        width: 550px;
        height: 20px;
        line-height: 20px;
        a {
            float: left;
            margin-right: 10px;
            white-space: nowrap;
            color: #999;
        }
        .style-red {
            color: #f10215;
        }
    }
    #navitems {
        position: absolute;
        left: 200px;
        bottom: 0;
        width: 790px;
        height: 40px;
        .spacer, ul, li {
            float: left;
        }
        .spacer {
            overflow: hidden;
            margin-top: 15px;
            margin-left: 20px;
            margin-right: -10px;
            width: 1px;
            height: 10px;
            background-color: #ccc;
        }
        li {
            margin-left: 30px;
            a {
                position: relative;
                display: block;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                font-weight: 700;
                color: #555;
            }
        }
    }
}

.fs {
    position: relative;
    margin-bottom: 10px;
    .fs-inner {
        position: relative;
        width: 1190px;
        height: 480px;
        margin: 0 auto;
        background-color: #f6f6f6;
        .fs-left, .fs-center {
            float: left;
            height: 100%;
        }
        .fs-right {
            float: right;
            height: 100%;
        }
        .fs-left {
            width: 190px;
            margin-right: 10px;
            ul.cate-menu {
                overflow: hidden;
                padding: 15px 0;
                height: 450px;
                background-color: #6e6568;
                color: #fff;
                .cate-menu-item {
                    overflow: hidden;
                    padding-left: 12px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 0;
                    a {
                        font-size: 14px;
                        color: #fff;
                    }
                    a:hover {
                        color: #c81623;
                    }
                    .cate-menu-line {
                        padding: 0 4px;
                        font-size: 12px;
                    }
                }
                .cate_menu_item_on {
                    background-color: #999395;
                }
            }
            .cate-pop {
                position: absolute;
                left: 190px;
                top: 0;
                width: 998px;
                min-height: 478px;
                border: 1px solid #f7f7f7;
                background-color: #f7f7f7;
                box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
                z-index: 21;
                .cate-part {
                    padding: 20px 0 10px;
                    .cate-part-col1 {
                        float: left;
                        width: 800px;
                        .cate-tit {
                            overflow: hidden;
                            padding-left: 20px;
                            height: 24px;
                            a {
                                float: left;
                                margin-right: 10px;
                                padding: 0 10px;
                                height: 24px;
                                background-color: #6e6568;
                                line-height: 24px;
                                color: #fff;
                            }
                            a:hover {
                                background-color: #5c5251;
                                color: #fff;
                            }
                        }
                        .cate-detail {
                            overflow: hidden;
                            padding: 10px 0 0 20px;
                            .cate-detail-item {
                                position: relative;
                                padding-left: 80px;
                                .cate-detail-tit {
                                    overflow: hidden;
                                    position: absolute;
                                    left: 0;
                                    top: 9px;
                                    width: 70px;
                                    text-align: right;
                                    font-weight: 700;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                                .cate-detail-con {
                                    overflow: hidden;
                                    padding: 6px 0;
                                    border-top: 1px solid #eee;
                                    .cate-detail-con-lk {
                                        float: left;
                                        margin: 4px 0;
                                        padding: 0 10px;
                                        height: 16px;
                                        border-left: 1px solid #e0e0e0;
                                        line-height: 16px;
                                        white-space: nowrap;
                                    }
                                }
                            }
                            .cate-detail-item:first-child .cate-detail-con {
                                border-top: none;
                            }
                        }
                    }
                    .cate-part-col2 {
                        float: left;
                        width: 198px;
                        .cate-brand {
                            margin: auto;
                            width: 168px;
                            font-size: 0;
                            .cate-brand-lk {
                                overflow: hidden;
                                display: inline-block;
                                width: 83px;
                                height: 35px;
                                margin: 0 0 1px 1px;
                                background-color: #e7e7e7;
                            }
                        }
                        .cate-promotion {
                            margin: 10px auto 0;
                            width: 168px;
                            .cate-promotion-lk {
                                display: block;
                                margin-bottom: 1px;
                                height: 134px;
                                background-color: #e7e7e7;
                            }
                        }
                    }
                }
            }

        }
        .fs-center {
            width: 790px;
            .slider-main {
                position: relative;
                margin-bottom: 10px;
                height: 340px;
                text-align: center;
                .inner {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: url("/images/slider/loading.gif") no-repeat center;
                    background-size: 40px 40px;
                    cursor: pointer;
                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border: none;
                        vertical-align: top;
                        opacity: 0;
                        z-index: 0;
                    }
                }
                .focusList {
                    display: inline-block;
                    z-index: 20;
                    margin-top: 296px;
                    position: relative;
                    padding: 2px 8px;
                    border-radius: 12px;
                    background-color: rgba(255, 255, 255, .4);
                    li {
                        display: inline-block;
                        margin: 0 5px;
                        width: 12px;
                        height: 12px;
                        border-radius: 100%;
                        background-color: #fff;
                    }
                    li.cur {
                        background-color: #f10215;;
                    }
                }
                .slide-left, .slide-right {
                    display: none;
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    margin-top: -30px;
                    width: 30px;
                    height: 60px;
                    background-color: #333;
                    background-color: rgba(0, 0, 0, .1);
                    line-height: 60px;
                    text-align: center;
                    color: #fff;
                }
                .slide-left:hover, .slide-right:hover {
                    background-color: rgba(0, 0, 0, .5);
                    color: #fff;
                }
                .slide-left {
                    left: 0;
                }
                .slide-right {
                    right: 0;
                }
            }
            .slider-main:hover .slide-left,
            .slider-main:hover .slide-right {
                display: block;
            }
        ;
            .slider-extend {
                /*margin-left: -10px;*/
                height: 130px;
                background: url('../images/slider/slider_extend.png') no-repeat;
                cursor: pointer;
            }
        }
        .fs-right {
            margin-left: 10px;
            width: 190px;
            background: #fff url("../images/slider/right_card.png") no-repeat;
        }
    }
}

#seckill {
    height: 305px;
    .sk-inner {
        margin: 0 auto;
        width: 1190px;
        overflow: hidden;
        .box-hd {
            background: url('/images/goods_items/seckill_hd.png') no-repeat 0 0;
            position: relative;
            padding: 0 20px 0 30px;
            height: 55px;
            line-height: 55px;
            color: #fff;
            .box-hd-col1 {
                float: left;
                .box_hd_dec {
                    position: absolute;
                    left: -4px;
                    top: -4px;
                    background-image: url('/images/goods_items/sprite_index@1x.png');
                    background-position: -190px -48px;
                    background-size: 218px 188px;
                    background-repeat: no-repeat;
                    width: 28px;
                    height: 28px;
                }
                .box_hd_icon {
                    margin-top: 8px;
                    margin-right: 8px;
                    background-image: url('/images/goods_items/sprite_index@1x.png');
                    background-position: 0 -40px;
                    -moz-background-size: 218px 188px;
                    background-size: 218px 188px;
                    background-repeat: no-repeat;
                    width: 34px;
                    height: 40px;
                }
                .box_tit {
                    font-family: 'Microsoft YaHei UI Light';
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 40px;
                    height: 40px;
                    padding-top: 9px;
                    float: left;
                }
                .box_sunmit {
                    position: relative;
                    float: left;
                    margin-top: 19px;
                    margin-left: 12px;
                    padding-right: 20px;
                    height: 24px;
                    line-height: 24px;
                    font-size: 14px;
                    color: #fff;
                    .submit_arrow {
                        position: absolute;
                        right: 0;
                        top: 4px;
                        background-image: url('/images/goods_items/sprite_index@1x.png');
                        background-position: -154px -40px;
                        background-size: 218px 188px;
                        background-repeat: no-repeat;
                        width: 15px;
                        height: 16px;
                    }
                }
            }
            .box-hd-col2 {
                float: right;
                .sk-cd {
                    float: left;
                    .sk-cd-tip {
                        float: left;
                        line-height: 45px;
                        padding-top: 10px;
                        font-size: 14px;
                    }
                    .sk-cd-main {
                        float: left;
                        margin-left: 6px;
                        margin-right: 8px;
                        .cd-item {
                            float: left;
                            width: 35px;
                            height: 37px;
                            background-color: #440106;
                            color: #f90013;
                            font-size: 24px;
                            font-family: Arial;
                            font-weight: 700;
                            border-radius: 3px;
                            text-align: center;
                            line-height: 37px;
                            margin-top: 10px;
                        }
                        .cd-split {
                            float: left;
                            margin: 22px 4px 0;
                            width: 4px;
                            height: 12px;
                            font-size: 0;
                            line-height: 0;
                            .dot {
                                display: block;
                                width: 4px;
                                height: 4px;
                                border-radius: 100%;
                                background-color: #440106;
                            }
                            .top {
                                margin-bottom: 4px;
                            }
                            .bottom {
                                top: 30px;
                            }
                        }
                    }
                }
            }
        }
        .box-bd {
            padding: 12px 0 13px;
            height: 225px;
            overflow: hidden;
            background-color: #fff;
            .sk-list-wrapper {
                float: left;
                width: 1000px;
                overflow: hidden;
                position: relative;
                .sk-list {
                    color: #999;
                    width: 6000px;
                    .sk-item {
                        float: left;
                        width: 170px;
                        height: 225px;
                        padding: 0 14px 0 15px;
                        border-right: 1px solid #e7e7e7;
                        .item-pic {
                            position: relative;
                            text-align: center;
                            a {
                                display: block;
                                outline: 0;
                                .sk-item-img {
                                    width: 130px;
                                    height: 130px;
                                    margin: 17px 0;
                                }
                                p {
                                    color: #999;
                                    display: block;
                                    max-width: 100%;
                                    overflow: hidden;
                                    font-size: 12px;
                                    text-align: left;
                                    height: 32px;
                                    line-height: 16px;
                                    word-wrap: break-word;
                                    word-break: break-all;
                                }
                            }
                            a:hover p {
                                color: #c81623;
                            }
                            .item-shadow {
                                position: absolute;
                                left: 0;
                                top: 130px;
                                text-align: center;
                                background-image: url('/images/goods_items/sprite_index@1x.png');
                                background-position: 0 0;
                                -moz-background-size: 218px 188px;
                                background-size: 218px 188px;
                                background-repeat: no-repeat;
                                width: 170px;
                                height: 20px;
                            }
                        }
                        .item-price {
                            padding: 3px 0;
                            height: 25px;
                            .price-new {
                                font-size: 18px;
                                font-weight: 700;
                                margin-right: 8px;
                                color: #F10214;
                                i {
                                    font-size: 12px;
                                    font-weight: 300;
                                    margin-right: 3px;
                                    font-family: arial;
                                }
                            }
                            .price-old {
                                color: #999;
                                font-size: 12px;
                                i {
                                    margin-right: 3px;
                                    font-family: arial;
                                    font-weight: 400;
                                    font-size: 12px;
                                }
                                del {
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }

                .sk-controls {
                    display: none;
                    a {
                        position: absolute;
                        display: block;
                        z-index: 1;
                        top: 50%;
                        margin-top: -25px;
                        width: 20px;
                        height: 50px;
                        background: rgba(0,0,0,.1);
                        line-height: 50px;
                        text-align: center;
                    }
                    .sk-controls-left {
                        left: 7px;
                    }
                    .sk-controls-right {
                        right: 7px;
                    }
                }
                .split {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background-color: #fff;
                }
            }
            .sk-list-wrapper:hover .sk-controls {
                display: block;
            }
            .sk-special {
                margin: 0 10px 0 0;
                float: right;
                img {
                    display: block;
                    width: 180px;
                    height: 225px;
                    border: none;
                    vertical-align: top;
                }
            }
        }
    }
}
